<div>
    <p>Hi <%= user.name%>!</p>
    <br>
    <p>
        Please verify your email by clicking on this link <br>
        https://profinder-test-app.herokuapp.com/users/verify/<%= user._id%>
        <br>
    </p>
</div>